@{
    ViewData["Title"] = "Home Page";
}
@model CalculatorViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to the Calculator</h1>
</div>

<div class="text-center">
    <form action="/" method="post">
        <label>Enter the calculation you would like to perform:</label>
        @*        name = "Number" when using CalcInput class - Number*@
        <input type="text" name="userNumber" placeholder="Numbers go here" value="" />
        <br />
        <button type="submit">Calculate!</button>
    </form>
</div>

@if (Model.UserResult != null)
    {
<div class="text-center">
    @if (Model.UserResult.Equation != null)
    {
        <h4>Your result is: @Model.UserResult.Result</h4>
        <h6>Your equation was @Model.UserResult.Equation</h6>
    }

    @if (Model.UserResult.ErrorMessage != null)
    {
        <h4>Your input @Model.UserResult.ErrorMessage</h4>
    }

</div>
    }


@*@if (Model.LastNumber != null)
    {
    <div class="text-center">
        <h4>The last number you entered was: @Model.LastNumber.Number</h4>

    </div>
    }*@